// Specific CSS for your home-page

/* banner */

.jumbotron {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%),
  url('banner.jpeg');
  background-size: cover !important;
  background-position: center;
  display: flex;
  flex: column wrap;
  align-items: center;
  height: 100vh;
  opacity: 0.9;
  text-align: center;

  //background: $gray;

  margin: 0 auto;
  top: -80px;
  .video{
    position: absolute;
    left: 0 ;
    right: 50px ;
    top: -30%;
    width: 100%;
    max-width: 1500px;
    height: 150%;
    margin: auto;
  }
}


/*-----*/

#where_div {
    position: absolute;
    width: 400px;
    height: 45px;
    border-right: 1px solid lightgray;
}

#where_text {
    color: lightgray;
    font-family: sans-serif;
    margin-left: 15px;
}

#check_in_div {
    position: absolute;
    width: 110px;
    height: 45px;
    border-right: 1px solid lightgray;
    left: 400px;
}

#check_in_text {
    font-family: sans-serif;
    color: gray;
    margin-left: 15px;
}

#check_out_div {
    position: absolute;
    width: 110px;
    height: 45px;
    border-right: 1px solid lightgray;
    left: 510px;
}

#check_out_text {
    font-family: sans-serif;
    color: gray;
    margin-left: 15px;
}

#guest_div {
    position: absolute;
    width: 110px;
    height: 45px;
    border-right: 1px solid lightgray;
    left: 620px;
}

#guest_text {
    font-family: sans-serif;
    color: gray;
    margin-left: 15px;
}

#search_button_div {
    position: absolute;
    width: 110px;
    height: 45px;
    left: 730px;
}

#search_button:link {
    position: absolute;
    font-family: sans-serif;
    background-color: #25898b;
    color: white;
    text-decoration: none;
    padding: 12.5px 30px 15px 30px;
    border-radius: 0px 3px 3px 0px;
}

#search_button:visited {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

#search_button:hover {
    background-color: #ff5b74;
}

#just_for_the_weekend_text {
    color: #545454;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
}

#discover_text {
    font-family: sans-serif;
    color: #545454;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px;
}

#kuta_ubud_kualalumpur_div {
    position: relative;
    width: 950px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

#kuta_div {
    position: absolute;
    width: 300px;
    height: 350px;
    margin-right: 25px;
    background-image: url('yamaha_piano.png');
    background-size: cover;
    background-position: center;
}

#ubud_div {
    position: absolute;
    width: 300px;
    height: 350px;
    margin-right: 25px;
    background-image: url('orange_drumset.jpg');
    background-size: cover;
    background-position: center;
    left: 325px;
}

#kualalumpur_div {
    position: absolute;
    width: 300px;
    height: 350px;
    margin-right: 25px;
    background-image: url('bass.jpg');
    background-size: cover;
    background-position: center;
    left: 650px;
}

#all_destinations_div {
     position: relative;
     height: 55px;
     font-weight: bold;
}

#all_destinations_text:link {
    font-family: sans-serif;
    color: #484848;
    text-decoration: none;
    border: 1px solid #c4c4c4;
    padding: 10px 80px 10px 80px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-left: -158.5px;
}

#all_destinations_text:visited {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}

#all_destinations_text:hover {
    border: 1px solid gray;
}


#explore_the_world_text {
    color: #545454;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#people_traveling_text {
    font-family: sans-serif;
    color: #545454;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
    font-size: 15px;
}

#newyork_william_div {
    position: relative;
    width: 950px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

#newyork_div {
    position: absolute;
    width: 625px;
    height: 100%;
    background-image: url('black_guitar.png');
    background-size: cover;
    margin-right: 25px;
}

#newyork_link:link {
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 157.5px 233px 157.7px 233px;
    top: 0;
    font-size: 35px;
}

#newyork_link:visited {
    color: white;
}

#william_div {
    position: absolute;
    width: 300px;
    height: 100%;
    background-image: url('black_guitar.png');
    background-size: cover;
    right: 0;
}

#william_home_text {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 23px;
    margin-top: 190px;

}

#william_city_text {
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: -20px;
}

#william_home_price_div {
    position: relative;
    margin-top: 40px;
    width: 80px;
    height: 35px;
    background-color: rgba(94, 94, 94, 0.8);
}

#william_home_price_text {
    font-family: sans-serif;
    color: white;
    font-size: 27px;
    text-align: center;
}

.small_dollar_sign {
    position: absolute;
    font-size: 15px;
    top: 8px;
    left: 8px;
}

#hawaii_paris_barcelona_div {
    position: relative;
    width: 950px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

#hawaii_div {
    position: absolute;
    width: 300px;
    height: 350px;
    margin-right: 25px;
    background-image: url('marshall_guitar_amplifier.jpg');
    background-size: cover;
    background-position: -100px;
}

.jumbotron h3 {
  margin: 0 auto;
  padding: 10px 30px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}



/* main section*/

#featured_categories {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #545454;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

.card-guitar{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('guitar.jpg');
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-piano{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('yamaha_piano.png');
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-drums{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('orange_drumset.jpg');
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-bass{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('bass.jpg');
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-brass{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('brass.jpg');
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-string {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('string.jpg');
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
