
<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-sections">
      <section class="airbnb">
        <ul>
          <li class="list_title">MusicBiz</li>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </section>
      <section class="discover">
        <ul>
          <li class="list_title">Discover</li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Trust & Safety</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Guidebooks</a></li>
          <li><a href="#">How it Works</a></li>
        </ul>
      </section>
      <section class="Hosting">
        <ul>
          <li class="list_title">Information</li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Terms and Privacy</a></li>
          <li><a href="#">Trust & Security</a></li>
          <li><a href="#">Cancellation Policy</a></li>
        </ul>
      </section>
    </div>
    <footer class="footer-footer">
      <span><i class="fa fa-airbnb"></i>&copy; musicbinz</span>
      <ul>
        <li><a href=""><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
        <li><a href=""><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href=""><i class="fa fa-youtube fa-2x"></i></a></li>
      </ul>
    </footer>
  </div>
</footer>


