<div class="footer">
  <div class="footer-copyright">
    <i class="fa fa-copyright" aria-hidden="true"></i> MusikBiz, Inc.
  </div>
  <div class="footer-links">
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
    <a href="#">Site Map</a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
</div>
