    <main>
        <div id="welcome_text_div">
            <p id="welcome_text">Rent instruments and gear on MusicBiz.</p>
            <p id="welcome_under_text"></p>
        </div>
         <div class="video-wrapper">
          <video width="100%" height="110%" autoplay loop muted linear-gradient(-225deg, rgba(0,101,168,0.6)>
            <source src="<%= video_path 'export_vid_bg1' %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <section class=“search-form”>
          <%= simple_form_for(:search, url: instruments_path, method: “get”) do |f| %>
          <%= f.input :name, input_html: { class: ‘search-input’ }, label: false, placeholder: “What instrument are you looking for?” %>
          <%= f.submit class: ‘search-btn’ %>
          <% end %>
        </section>
     <p id="just_for_the_weekend_text">STAFF PICKS</p>
     <div id="kuta_ubud_kualalumpur_div">
        <div id="kuta_div">
            <p class="three_thumnail_text">
                Yamaha Piano
            </p>
        </div>
        <div id="ubud_div">
            <p class="three_thumnail_text">
                Orange Drumset
            </p>
        </div>
        <div id="kualalumpur_div">
            <p class="three_thumnail_text">
                Bass
            </p>
        </div>
    </div>
    <p id="explore_the_world_text">
        LATEST PRELOVED RENTALS
    </p>
    <p id="people_traveling_text">
        WHILE STOCKS LAST!
    </p>
    <div id="vienna_berlin_jakarta_div">
        <div id="vienna_div">
            <p class="three_thumnail_text">
                Black Guitar
            </p>
        </div>
        <div id="berlin_div">
            <p class="three_thumnail_text">
                Electric Guitar
            </p>
        </div>
        <div id="jakarta_div">
            <p class="three_thumnail_text">
                Marshall Guitar
            </p>
        </div>
    </div>
    <div id="hawaii_paris_barcelona_div">
        <div id="hawaii_div">
            <p class="three_thumnail_text">
                Yamaha Piano
            </p>
        </div>
        <div id="paris_div">
            <p class="three_thumnail_text">
                Xylophone
            </p>
        </div>
        <div id="barcelona_div">
            <p class="three_thumnail_text">
                Bass
            </p>
        </div>
    </div>
    <div id="vienna_berlin_jakarta_div">
        <div id="vienna_div">
            <p class="three_thumnail_text">
                Electric Guitar
            </p>
        </div>
        <div id="berlin_div">
            <p class="three_thumnail_text">
                Orange Drumset
            </p>
        </div>
        <div id="jakarta_div">
            <p class="three_thumnail_text">
                Black Guitar
            </p>
        </div>
    </div>
