
<main>
  <div class="video-wrapper">
    <video width="100%" height="110%" autoplay muted linear-gradient(-225deg, rgba(0,101,168,0.6)>
      <source src="video/video-banner.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div id="welcome_text_div">
      <p id="welcome_text">Rent instruments and gear on MusicBiz.</p>
    </div>
  </div>

<p id="just_for_the_weekend_text">STAFF PICKS</p>


<div id="kuta_ubud_kualalumpur_div">
  <div id="kuta_div">
      <p class="three_thumnail_text">
          Yamaha Piano
      </p>
  </div>
  <div id="ubud_div">
      <p class="three_thumnail_text">
          Orange Drumset
      </p>
  </div>
  <div id="kualalumpur_div">
      <p class="three_thumnail_text">
          Bass
      </p>
  </div>
</div>

<p id="explore_the_world_text">
  LATEST PRELOVED RENTALS
</p>

<p id="people_traveling_text">
  WHILE STOCKS LAST!
</p>

<div id="vienna_berlin_jakarta_div">
    <div id="vienna_div">
        <p class="three_thumnail_text">
            Black Guitar
        </p>
    </div>
    <div id="berlin_div">
        <p class="three_thumnail_text">
            Electric Guitar
        </p>
    </div>
    <div id="jakarta_div">
        <p class="three_thumnail_text">
            Marshall Guitar
        </p>
    </div>
</div>
<div id="hawaii_paris_barcelona_div">
    <div id="hawaii_div">
        <p class="three_thumnail_text">
            Yamaha Piano
        </p>
    </div>
    <div id="paris_div">
        <p class="three_thumnail_text">
            Xylophone
        </p>
    </div>
    <div id="barcelona_div">
        <p class="three_thumnail_text">
            Bass
        </p>
    </div>
</div>
<div id="vienna_berlin_jakarta_div">
    <div id="vienna_div">
        <p class="three_thumnail_text">
            Electric Guitar
        </p>
    </div>
    <div id="berlin_div">
        <p class="three_thumnail_text">
            Orange Drumset
        </p>
    </div>
    <div id="jakarta_div">
        <p class="three_thumnail_text">
            Black Guitar
        </p>
    </div>
</div>
