
<main>
<!--banner-->
    <div class="jumbotron text-center">
      <div class="container">
          <div class="row">
             <h3>Rent instruments, equipment, and space on MusicBiz.</h3>
          </div>
      </div>
    </div>
<!--main section-->
    <div class="tite-home-page">
      <p id="featured_categories">
        Featured Categories
      </p>
    </div>
    <div class="container">
       <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card card-guitar">
              <div class="card-description">
                <h2>Guitar</h2>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
         </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-piano">
              <div class="card-description">
                <h2>Piano</h2>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-drums">
              <div class="card-description">
                <h2>Drums</h2>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <br>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-bass">
              <div class="card-description">
                <h2>Bass</h2>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
         </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-brass">
              <div class="card-description">
                <h2>Brass</h2>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card card-string">
              <div class="card-description">
                <h2>String</h2>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
      </div>




