
.main-footer {
  height: 270px;
  width: 100vw;
  border-top: 1px solid #ccc;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin-top: 341px;
}

.footer-container {
  height: 263px;
  width: 100vw;
}

.footer-sections {
  display: flex;
  justify-content: center;
}

.footer-sections > * {
  width: 25%;
  height: 100%;
}

ul {
  margin-top: 20px;
  font-size: .9rem;
  font-weight: 100;
}

li {
  margin-bottom: 6px;
  color: #888;
}

.footer-footer {
  border-top: 1px solid #ccc;
  margin-top: 35px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 25%;
  color: #777;
  width: 100vw;
}

.footer-footer li {
  display: inline;
  margin-right: 20px;
}

.footer-sections li a {
  text-decoration: none;
  color: #616668;
}

.footer-sections li a:hover {
  color: #FF5A5F;
}

span {
  margin-right: auto;
}

.localize > * {
  border: 1px solid #aaa;
  padding: 15px;
  padding-left: 10px;
  width: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #02858c;
}

.localize i {
  margin-left: auto;
  color: #888;
}


.main-footer .list_title {
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.footer-sections ul {
  list-style: none;
}

.footer-sections ul li {
  font-weight: bolder;
  font-size: 15px;
}

.footer-footer ul li {
  font-weight: bolder;
  font-size: 15px;
}

.footer-footer span {
  font-size: 20px;
  font-weight: 100;
  color: black;
}

