<div class="container">
  <br><br><br><br><br>

  <div class="card card-show-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path @instrument.photo.path %>);">
    <div class="card-category"><%= @instrument.name %></div>
    <div class="card-description">
      <p> <%= "$ #{@instrument.price}" %> </p>
    </div>
  </div>

  <br><br><br>

  <%= render 'bookings/form' %>


</div>
